{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="pagenavi">
    <div class="Nav">

    <!-- if has prev     -->
    {{ if $pag.HasPrev }}
    <a class="prev" href="{{ $pag.Prev.URL }}" rel="prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" width="12px" height="12px"><path d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"/></svg>Prev</a>
    {{ end }}

    <!-- Don't show on 1st and 2nd page -->
    {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) (ne $pag.PageNumber 3) }}
    <a href="{{ $pag.First.URL }}" rel="first">1</a>
    ...
    {{ end }}


    {{ range $pag.Pagers }}
        {{ if eq . $pag }} <!-- Current Page -->
        <strong class="on">{{ .PageNumber }}</strong>
        {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
        {{ $.Scratch.Set "dot_rendered" false }} <!-- Render prev 2 page and next 2 pages -->
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
        {{ else if eq ($.Scratch.Get "dot_rendered") false }} <!-- render skip pages -->
        {{ $.Scratch.Set "dot_rendered" true }}
        {{ end }}
    {{ end }}



    <!-- Don't show on last and 2nd last page -->
    {{ if and (lt $pag.PageNumber (sub $pag.TotalPages 2)) }}  
    ...
    <a href="{{ $pag.Last.URL }}" rel="last">{{ $pag.TotalPages }}</a>
    {{ end }}

    <!-- if has next     -->
    {{ if $pag.HasNext }}
    <a class="next" href="{{ $pag.Next.URL }}" rel="next">Next<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" width="12px" height="12px"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg></a>
    {{ end }}
    </div>
    <div class="clearfix"></div>
</div>  
{{ end }}
