<div id="sidebar">
    <div class="widget">
        <div class="inner">
            <h3 class="title">
                <span>Search</span>
            </h3>
            <form role="search" method="get" id="searchform" class="searchform" action="/search/">
                <div>
                    <input type="text" value="" name="s" id="s">
                    <input type="submit" id="searchsubmit" value="Search">
                </div>
            </form>
        </div>
    </div>

    <div class="widget">
        <div class="inner">
            <h3 class="title">
                <span>Popular Posts</span>
            </h3>
            <ul>
                {{ range first .Site.Params.recentposts (shuffle (where (where .Site.RegularPages "Type" "!=" "pages" ) "Title" "!=" .Title )) }}
                <li>
                    <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                </li>
                {{- end }}
            </ul>
        </div>
    </div>


    {{- $categories := .Site.Taxonomies.categories }}
    {{- $categoryList := slice }}
    {{- range $name, $taxonomy := $categories }}
        {{- with $.Site.GetPage (printf "/categories/%s" $name) }}
            {{- $categoryList = $categoryList | append (dict "Page" . "Count" $taxonomy.Count) }}
        {{- end }}
    {{- end }}
    {{- $categoryList = shuffle $categoryList }}
    {{- $categoryCounter := 0 }}
    {{- if gt (len $categoryList) 0 }}
        <div class="widget">
            <div class="inner">
                <h3 class="title">
                    <span>Categories</span>
                </h3>
                <ul>
                {{- range $category := $categoryList }}
                    {{- if lt $categoryCounter 10 }}
                        {{- $categoryCounter = add $categoryCounter 1 }}
                        <li>
                            <a href="{{ $category.Page.RelPermalink }}" title="{{ $category.Page.Title }}">{{ $category.Page.Title }}</a>
                            <span>({{ $category.Count }})</span>
                        </li>
                    {{- end }}
                {{- end }}
                </ul>
            </div>
        </div>
    {{- end }}


</div>
<div class="clearfix"></div>